
<div id="bg"></div>
<header id="header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#000000" data-next="yes">
  <!-- Loader -->
  <div class="fh5co-loader"></div>

    <div class="container" id="header_padding">
        <div class="fh5co-text-wrap animate-box">
          <div class="fh5co-intro-text">
          <h1>Timothy O'Bara</h1>
          <h2>Who I Am </h2>
          </div>
        </div>
    </div>
    <div class="btn-next animate-box fh5co-learn-more">
        <a href="#" class="scroll-btn">
          <span>See the detail</span>
          <i class="fa icon-chevron-down"></i>
        </a>
    </div>
  </div>
    </header>

    <div class="js-fh5co-waypoint fh5co-project-detail" id="fh5co-main" data-colorbg="">
      <div class="container">


        <div class="row">
          <div class="col-md-12">

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 1</span> Bio</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">Ever since I was young I have had an interest in technology.  I needed to see know how things worked.  I needed to take them apart.   I needed to know if I could change their purpose, actions, and functions.  My first brush with programming came in elementary school.  Prior to the Microsoft Windows revolution, we had the old Apple computers, with a floppy drive, and by far the best game ever;  Logowriter.  Remember the little turtle that you could write out commands to tell it where to go on the screen?  This sparked my curiosity in computer programming.  I can thank this early childhood experience for laying the groundwork, which later led me to obtaining a degree in Computer Information Systems.</p>
                <p>Fast forward a bit to after college…  I found that opportunities in finance were everywhere.  My first experience in the professional workplace taught me about myself, more than anything else.  I now knew I had a true passion for problem solving.  In addition, I noticed I had a different way of approaching problems than other individuals in my field. It became increasingly apparent that my creativity along with programming, helped me harness and improve my talents.</p>
                <p>After eight years, I knew that there had to be a way I could build on my skillsets further. I left my career in finance and enrolled in a coder’s bootcamp at Launch Academy in Boston. And so started my new career in web development.</p>
              </div>
            </div>

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-12">
                <figure class="fh5co-bio-photo"><img src="assets/new_img.png" class="img-responsive" alt="Timothy OBara Resume Image"></figure>

              </div>
            </div>
            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-12" id="aligner">
                <%= link_to "Download Resume", asset_path("OBaraTimothy.pdf") %>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 2</span> Experience</h3>
              </div>
              <div class="col-md-9">

                <p class="fh5co-lead">My experience is strengthened with every new challenge.</p>
                <p>Whether creating a lead generation system through screen scraping.  Identifying variables to increase productivity/ sales in large datasets; no challenge is too big or too small.  They are what drive me to learn more.</p>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 3</span> Connect</h3>
              </div>
              <div class="col-md-9">
                <ul class="fh5co-social fh5co-stack">
                  <li>
                    <a href="mailto:tim.obara@gmail.com"><i class="icon fa-envelope-o"></i> Send Email</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/timobara"><i class="icon fa-linkedin"></i> LinkedIn</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/timothy.obara"><i class="icon fa-facebook"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="http://github.com/tobara"><i class="icon fa-github"></i> Github</a>
                  </li>
                  <li>
                    <a href="tel://+1-603-702-0593"><i class="icon fa-phone"></i> Call</a>
                  </li>

                </ul>
              </div>
            </div>







            <div class="row animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 4</span> My Location</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">Newburyport, Massachusetts USA</p>
                <dfn><p>42.8126° N, 70.8773° W</p></dfn>
              <div class="col-md-3">
                              <div class="map">
                <span class="pulse">
                </span>
              </div>
              <div class="col-md-3">
                <!-- <div id="fh5co-map"></div> -->

              </div>

            </div>




          </div>
        </div>
      </div>
    </div>

    <footer id="fh5co-footer" class="js-fh5co-waypoint">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>&copy; 2017 TimothyOBara.com</p>

          </div>
        </div>
      </div>
    </footer>

  </div>
