
<%= javascript_include_tag 'text-generator-bio.js' %>
<header id="header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#000000" data-next="yes">
  <div class="fh5co-loader"></div>

    <div class="container" id="header_padding">
        <div class="fh5co-text-wrap animate-box">
          <div class="fh5co-intro-text">
          <h1>Timothy O'Bara</h1>
          <h2 id="h2_container"></h2>
          </div>
        </div>
    </div>
      <div class="btn-next animate-box fh5co-learn-more" id="portlink">
        <a href="#" class="scroll-btn">
          <span>See the details</span>
          <img src="/assets/portpressed.png" id="my_port_pressed" alt="custom chevron down">
        </a>
      </div>
    </header>

    <div class="js-fh5co-waypoint fh5co-project-detail" id="fh5co-main" data-colorbg="">
      <div class="container">


        <div class="row">
          <div class="col-md-12">

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 1</span> Bio</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">As far back as I can remember, I have had a curiosity intertwined with technology.
                I have always wanted to understand know how things worked.  I would take apart the VCR just see if I could put it back together again.  I would try to understand how the <a href="https://en.wikipedia.org/wiki/IBM_PC_DOS#1.00">PC DOS</a> prompt on the <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer">original</a> IBM PC left behind at my parent’s new business functioned, even though I could barely ride a bike.  I  always needed to know their purpose, what actions they could perform, and what their function was.  This is the story of how I became a web developer.</p>
                <p>In elementary school, we were lucky enough to have one or even two Apple computers in every classroom.  Fighting fellow classmates for a turn on these awkward machines was so we could play one game: LogoWriter.  Little did I know, by typing in commands that moved a turtle on the screen to display shapes, colors, and designs was basic programming at its best.
                In short time these computers and LogoWriter had run their course, partially due to the school upgrading to Windows PCs.  Why play around on with a turtle when there was a machine with a graphical user interface?  Which had multiple games are your disposal (i.e. Minesweeper and SkiFree).  However, my curiosity was not satisfied by these games.  I was more interested in the computer and its software as a whole.  What does it really do?  Why does it do it?  What is its real purpose?  I scoured through every possible program and file trying answer these questions.   It didn’t take long until I had mastered the less known ins-and-outs of Microsoft Windows 3.1 and also creating numerous technical issues by executing every possible sequence of MS-DOS commands.  Just when I thought there was nothing left to dissect, along came the start of information revolution:  The Internet.  I frequently used multiple online services:  America Online, CompuServe (<span id="font-italic">the compatibility of their images was pain back then: <a href="https://en.wikipedia.org/wiki/GIF">GIPHY</a></span>), even years prior my friends Tandy had Prodigy.  As amazingly intriguing I found these services, they always felt somewhat lacking.  They were standardized, a limited programmed extension, an interactive Home Shopping Network for lack of a better comparison.  The internet age changed that.
                </p>
                <p>I no longer was restricted to analyzing the hardware and software of my own computer.  I could dig deeper, connect to other computers, and other people.  My questions were no longer limited to just being my thoughts.  I found out people had the very same thoughts, the very same questions.  Even better yet, they had answers to these questions, they had new questions, new ideas.  The very purpose I was trying understand of this loud constant beeping box (<span id="font-italic"><a href="http://pbclub.pwcsite.com/wiki/index.php/Legend_10CD">Packard Bell Legend 10CD</a></span>) changed before my eyes.</p>
              </div>
            </div>

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-12">
                <figure class="fh5co-bio-photo"><img src="assets/R_1.png" class="img-responsive" alt="Timothy OBara Resume Image"></figure>

              </div>
            </div>
            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-12" id="aligner">
                <%= link_to "Download Resume", asset_path("OBara-Timothy.pdf") %>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 2</span> Experience</h3>
              </div>
              <div class="col-md-9">

                <p class="fh5co-lead">My experience is strengthened with every new challenge.</p>
                <p>Whether creating a lead generation system through screen scraping.  Identifying variables to increase productivity/ sales in large datasets; no challenge is too big or too small.  They are what drive me to learn more.</p>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 3</span> Connect</h3>
              </div>
              <div class="col-md-9">
                <ul class="fh5co-social fh5co-stack">
                  <li>
                    <a href="mailto:tim.obara@gmail.com"><i class="icon fa-envelope-o"></i> Send Email</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/timobara"><i class="icon fa-linkedin"></i> LinkedIn</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/timothy.obara"><i class="icon fa-facebook"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="http://github.com/tobara"><i class="icon fa-github"></i> Github</a>
                  </li>
                  <li>
                    <a href="tel://+1-978-414-5446"><i class="icon fa-phone"></i> Call</a>
                  </li>

                </ul>
              </div>
            </div>







            <div class="row animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 4</span> My Location</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">Newburyport, Massachusetts USA</p>
                <dfn><p>42.8126° N, 70.8773° W</p></dfn>
              <div class="col-md-3">
                              <div class="map">
                <span class="pulse">
                </span>
              </div>
              <div class="col-md-3">
                <!-- <div id="fh5co-map"></div> -->

              </div>

            </div>




          </div>
        </div>
      </div>
    </div>

    <footer id="fh5co-footer" class="js-fh5co-waypoint">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>&copy; 2018 Timothy-OBara.com</p>

          </div>
        </div>
      </div>
    </footer>

  </div>

