






  <!-- Loader -->

<div class="fh5co-loader"></div>

  <div id="fh5co-page">
    <nav id="fh5co-nav" role="navigation">

    </nav>
    <div id="bg"></div>
    <header id="header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">

      <div class="container" id="header_padding">

        <div class="fh5co-text-wrap animate-box">
          <!-- <div class="fh5co-intro-text"> -->
            <h1>Timothy O'Bara</h1>
            <p>Web Developer &nbsp;&bull;&nbsp; Big Data Enthusiast &nbsp;&bull;&nbsp; Extraterrestrial</p>
            <nav>
              <ul>
                <li><a href="https://www.linkedin.com/in/timobara" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="https://www.facebook.com/timothy.obara" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="tel://+1-603-702-0593" class="icon fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="http://github.com/tobara" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:tim.obara@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
          </div>
        <!-- </div> -->
      </div>
      <div class="btn-next animate-box fh5co-learn-more" id="portlink">
        <a href="#" class="scroll-btn">
          <span>See my portfolio</span>
          <i class="icon fa-chevron-down"></i>
        </a>
      </div>
    </header>

    <!-- data-colorbg="#8cc53e"  -->
    <div class="fh5co-project js-fh5co-waypoint" data-bgcolor="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_1_large.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_1_small.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
          </div>
          <div class="fh5co-text col-md-4 animate-box">
            <h2>DoctorLoans.io</h2>
            <p>To be filled with my project summary.</p>
            <p><a href="work_1.html" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <!-- data-colorbg="#FF6138" -->
    <div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_2_large.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_2_small.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
          </div>
          <div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
            <h2>Sooon Enough</h2>
            <p>To be filled with my project info.</p>
            <p><a href="work_1.html" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>

    <!-- data-colorbg="#2d4059" -->
    <div class="fh5co-project js-fh5co-waypoint" data-colorbg="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_3_large.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_3_small.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
          </div>
          <div class="fh5co-text col-md-4 animate-box">
            <h2>ABC 123456</h2>
            <p>Fill in with my project information.</p>
            <p><a href="work_1.html" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <!-- data-colorbg="#7bc74d" -->
    <div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_4_large.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_4_small.jpg" alt="Free HTML5 Bootstrap Template">
            </div>
          </div>
          <div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
            <h2>ABC 1234</h2>
            <p>Fill in with my project information.</p>
            <p><a href="work_1.html" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <footer id="fh5co-footer" class="js-fh5co-waypoint">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>&copy; 2016 </small> </p>
            <ul class="fh5co-social">
              <li>
                <a href="#"><i class="icon-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-dribbble"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>





