






  <!-- Loader -->

<!-- <div class="fh5co-loader"></div> -->

 <!--  <div id="fh5co-page">
    <nav id="fh5co-nav" role="navigation">

    </nav> -->
    <div id="bg"></div>
    <header id="header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#000000" data-next="yes">

      <!-- <div class="container" id="header_padding"> -->

        <div class="fh5co-text-wrap animate-box" id="header_padding">
          <!-- <div class="fh5co-intro-text"> -->
            <h1>Timothy O'Bara</h1>
            <p>Web Developer &nbsp;&bull;&nbsp; Big Data Enthusiast &nbsp;&bull;&nbsp; Extraterrestrial</p>
            <nav>
              <ul>
                <li><a href="https://www.linkedin.com/in/timobara" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="https://www.facebook.com/timothy.obara" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="tel://+1-603-702-0593" class="icon fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="http://github.com/tobara" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:tim.obara@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
          </div>
        <!-- </div> -->
    <!--   </div> -->
      <div class="btn-next animate-box fh5co-learn-more" id="portlink">
        <a href="#" class="scroll-btn">
          <span>See my portfolio</span>
          <i class="icon fa-chevron-down"></i>
        </a>
      </div>
    </header>

    <!-- data-colorbg="#8cc53e"  -->
    <div class="fh5co-project js-fh5co-waypoint" data-bgcolor="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_1_large.jpg" alt="DoctorLoans.io Desktop View">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_1_small.jpg" alt="DoctorLoans.io Mobile View">
            </div>
          </div>
          <div class="fh5co-text col-md-4 animate-box">
            <h2>DoctorLoans.io</h2>
            <p>A website built for mortgage originators, who were seeking to provide a resource for physicians, that are seeking mortgage financing.</p>
            <p><a href="https://github.com/tobara/ploans" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <!-- data-colorbg="#FF6138" -->
    <div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_2_large.jpg" alt="CMERentals.com Desktop View">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_2_small.jpg" alt="CMERentals.com Mobile View">
            </div>
          </div>
          <div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
            <h2>CMERentals.com</h2>
            <p>Website built for Carl Matthews Equipment</p>
            <p><a href="https://github.com/tobara/matthews_rentals" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>

    <!-- data-colorbg="#2d4059" -->
    <div class="fh5co-project js-fh5co-waypoint" data-colorbg="" data-next="yes">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_3_large1.jpg" alt="Dance North County Desktop View">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_3_small1.jpg" alt="Dance North County Mobile View">
            </div>
          </div>
          <div class="fh5co-text col-md-4 animate-box">
           <h2>Dance North County</h2>
           <h3>Mobile Site Conversion</h3>
            <p>Client requested a simple lightweight, cost-efficient solution that would allow their current website design to be more user friendly when viewed from a mobile device.  The client did not wish to change their current design, other than what is required to provide better mobile functionality for the user. </p>
            <p><a href="https://github.com/tobara/DanceNorthCounty" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <!-- data-colorbg="#7bc74d" -->
    <div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="">
      <div class="container">
        <div class="fh5co-project-inner row">
          <div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
            <div class="img-holder-1 animate-box">
              <img src="/assets/work_4_large.jpg" alt="Drink Better Bourbon Desktop View">
            </div>
            <div class="img-holder-2 animate-box">
              <img src="/assets/work_4_small.jpg" alt="Drink Better Bourbon Mobile View">
            </div>
          </div>
          <div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
                        <h2>DrinkBetterBourbon</h2>
            <p>A website dedicated to Bourbon Enthusiasts.</p>
            <p><a href="https://github.com/rakkofat/drink-better-bourbon" class="btn btn-light btn-outline transition">View Project</a></p>
          </div>
        </div>

      </div>
    </div>
    <footer id="fh5co-footer" class="js-fh5co-waypoint">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>&copy; 2017 TimothyOBara.com </small> </p>

          </div>
        </div>
      </div>
    </footer>

  </div>





