<figure class="fh5co-bio-photo" id="logo-loop">
  <div class="bloc bloc-demo" id="demo">
    <div id="svg-container">
      <div id="thumbs">
      <img src='/assets/logo-01.png' id="size">
      </div>
      <%= svg 'logo' %>
    </div>
  </div>
</figure>


